.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #2c2c2c;
  margin: 20px 0;
}

.input {
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  color: #323232;
  border: 2px solid #dbdbdb;
  border-radius: 10px;
}

.errorText {
  font-weight: 500;
  color:#DA3939;
  padding: 20px 0;
}
